<html>
<head>
	<title>CSS Named Colors</title>
	<meta charset="utf-8">

	<link rel="stylesheet" href="../../../lib/tachyons/tachyons-4.8.1.min.css">
	<link rel="stylesheet" href="../css/style.css">

	<script src="../../../lib/react/react-15.6.1.js"></script>
	<script src="../../../lib/react-dom/react-dom-15.6.1.js"></script>
	<script src="../../../lib/create-react-class/create-react-class-15.6.0.js"></script>
	<script src="../../../lib/react-dom-factories/react-dom-factories-1.0.1.js"></script>
	<script src="../../../lib/reactable/reactable-0.14.1.js"></script>
	<script src="../../../lib/requirejs/require-2.3.5.js"></script>
	<script>
		require.config(
		{
			"baseUrl": "../../../src",
		});
	</script>
	<script src="../../../src/main.js"></script>

</head>
<body>
	<h1>CSS Named Colors</h1>
	<label>Color Axis:
		<select id="axisSelect">
			<option selected>-none-</option>
			<optgroup label="Primary">
				<option value="red">Red</option>
				<option value="green">Green</option>
				<option value="blue">Blue</option>
			</optgroup>
			<optgroup label="Secondary">
				<option value="yellow">Yellow</option>
				<option value="magenta">Magenta</option>
				<option value="cyan">Cyan</option>
			</optgroup>
			<optgroup label="Tertiary">
				<option value="orange">Orange</option>
				<option value="rose">Rose</option>
				<option value="chartreuse">Chartreuse</option>
				<option value="springGreen">Spring Green</option>
				<option value="violet">Violet</option>
				<option value="azure">Azure</option>
			</optgroup>
			<optgroup label="Other">
				<option value="gray">Gray</option>
			</optgroup>
	</select>
	</label>
	<p />
	<div id="panel"></div>
	<p />
	<span>From the <a
		href="http://dev.w3.org/csswg/css-color-4/#named-colors">CSS
			Specification</a></span>
	<script>
		"use strict";

		require(["react", "react-dom", "react-dom-factories", "common/js/Logger", "model/js/CssNamedColor", "model/js/RGBAxis", "view/js/RGBColorTable"],
			function(React, ReactDOM, DOM, Logger, CssNamedColor, RGBAxis, ColorTable)
			{
				window.LOGGER = new Logger();
				LOGGER.setTraceEnabled(false);
				LOGGER.setDebugEnabled(false);

				var axisKey;
				var rowData = CssNamedColor.values();

				createColorTable();

				function axisChange()
				{
					var axisSelect = document.getElementById("axisSelect");
					var selected = axisSelect.options[axisSelect.selectedIndex].value
					LOGGER.info("axisChange() selected = " + selected);

					axisKey = selected;
					createColorTable();
				}

				document.getElementById("axisSelect").addEventListener("change", axisChange, false);

				function createColorTable()
				{
					var element = React.createElement(ColorTable,
					{
						axis: RGBAxis.properties[axisKey],
						rowData: rowData,
					});

					ReactDOM.render(DOM.div(
					{
						className: "center tc",
					}, element), document.getElementById("panel"));
				}
			});
	</script>
</body>

</html>
